/*===================================================
              Custom CSS Responsive Code
====================================================*/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .header-area .header-row .logo-area {
    flex-basis: 23%;
  }
  .hero-section {
    padding: 30px 0;
    background-position: 85% 60%;
  }
  .services-box .single-services {
    padding: 25px 10px;
  }
  .single-services h2 {
    font-size: 18px;
    margin: 12px 0 6px 0;
  }
  .single-services p {
    font-size: 15px;
    line-height: 25px;
  }
  .about-conte {
    margin: 50px 0 30px 0;
  }
  .about-text {
    flex-basis: 55%;
  }
  .clients-logo ul li {
    flex-basis: 14%;
  }
  .contact-content {
    padding: 5px;
  }
  .single-box {
    flex-basis: 49%;
    padding: 0px 15px;
  }
  .single-group-box .text-group {
    flex-basis: 60%;
  }
  .single-group-box .img-box {
    flex-basis: 40%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 750px;
  }
  .header-area .header-row .logo-area {
    flex-basis: 29%;
  }
  .header-area .header-row .menu-area {
    flex-basis: 67%;
  }
  .hero-section {
    padding: 30px 0;
    background-position: 76% 60%;
  }
  .services-box .single-services {
    flex-basis: 32%;
    padding: 15px 5px;
  }
  .single-services h2 {
    font-size: 15px;
    margin: 10px 0 8px 0;
  }
  .single-services i {
    font-size: 20px;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  .single-services p {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 22px;
  }
  .single-services a {
    padding: 6px 12px;
    font-size: 16px;
  }
  .about-conte {
    margin: 50px 0 20px 0;
  }
  .about-text {
    flex-basis: 63%;
  }
  .about-text h2 {
    font-size: 25px;
    margin-bottom: 5px;
  }
  .about-text p {
    font-size: 15px;
  }
  .about-icons {
    flex-basis: 35%;
  }
  .clients-section {
    padding: 25px 0;
  }
  .clients-logo ul li {
    flex-basis: 18%;
  }
  .contact-content {
    padding: 0px;
  }
  .single-box {
    flex-basis: 49%;
  }
  .single-group-box .text-group {
    flex-basis: 65%;
  }
  .single-group-box .img-box {
    flex-basis: 35%;
    height: 156px;
    align-self: flex-end;
  }
  .single-box a,
  .single-box .text-group a {
    margin: 15px 0 22px 0;
    font-size: 13px;
  }
  .single-box h3,
  .single-group-box .text-group h3 {
    font-size: 16px;
  }
  .single-box p,
  .single-group-box .text-group p {
    font-size: 12px;
  }
  .single-footer-box:first-child {
    flex-basis: 50%;
  }
  .single-footer-box h4 {
    font-size: 15px;
    letter-spacing: 0px;
  }
  .single-footer-box p {
    font-size: 14px;
  }
  .single-footer-box {
    flex-basis: 14%;
  }
  .single-footer-box .iconlist-2 li a {
    font-size: 14px;
  }
  .single-footer-box .iconlist li a i {
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 310px;
  }
  .header-area .header-row .logo-area {
    flex-basis: 60%;
  }
  .header-area .header-row .logo-area .logo-title {
    font-size: 22px;
    letter-spacing: 1px;
  }
  /*NavBar Responsive Code*/
  .nav-toggler {
    display: flex;
  }
  .header-area .menu-area {
    top: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    background-color: var(--theme-color);
    border-top: 1px solid rgba(225, 225, 225, 0.4);
    opacity: 0;
    visibility: hidden;
  }
  .header-area #nav-check:checked ~ .menu-area {
    opacity: 1;
    visibility: visible;
  }
  .header-area #nav-check:focus ~ .nav-toggler {
    box-shadow: 0 0 10px #000000a2;
  }
  .header-area #nav-check:checked ~ .menu-area ul li {
    display: block;
    margin: 8px 15px;
  }
  .header-area #nav-check:checked ~ .nav-toggler span {
    background-color: transparent;
  }
  .header-area #nav-check:checked ~ .nav-toggler span::before {
    top: 0;
    transform: rotate(-45deg);
  }
  .header-area #nav-check:checked ~ .nav-toggler span::after {
    top: 0;
    transform: rotate(45deg);
  }
  /*NavBar Responsive CSS Code End*/

  .hero-section {
    padding: 30px 0;
    background-position: 70% 60%;
  }
  .hero-text h2 {
    font-size: 26px;
    line-height: 28px;
  }
  .hero-text p {
    font-size: 12px;
  }
  .button-group button {
    padding: 12px 12px;
    font-size: 14px;
  }
  .services-box .single-services {
    flex-basis: 100%;
    margin-bottom: 35px;
    padding: 25px 10px;
  }
  .single-services i {
    font-size: 22px;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  .single-services h2 {
    font-size: 18px;
  }
  .single-services p {
    font-size: 14px;
  }
  .single-services a {
    font-size: 14px;
  }
  .about-section {
    padding: 25px 0;
    margin-top: -155px;
  }
  .about-conte {
    margin: 50px 0 20px 0;
  }
  .about-text {
    flex-basis: 100%;
  }
  .about-text h2 {
    font-size: 25px;
    letter-spacing: 0px;
  }
  .about-text p {
    font-size: 16px;
  }
  .about-icons {
    flex-basis: 100%;
    margin-top: 30px;
  }
  .clients-section {
    padding: 15px 0;
  }
  .clients-title h2 {
    letter-spacing: 1px;
    font-size: 20px;
  }
  .clients-logo {
    padding: 15px 5px;
  }
  .clients-logo ul li {
    flex-basis: 20%;
    padding: 2px;
  }
  .single-box {
    flex-basis: 100%;
    margin-bottom: 25px;
  }
  .single-group-box .text-group {
    flex-basis: 100%;
  }
  .single-group-box .img-box {
    display: none;
  }
  .footer-section {
    padding: 50px 0 50px 0;
    margin-top: -80px;
  }
  .single-footer-box:first-child {
    flex-basis: 100%;
  }
  .single-footer-box {
    flex-basis: 42%;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 450px;
  }
  .hero-text p {
    font-size: 16px;
  }
  .single-group-box .text-group {
    flex-basis: 65%;
  }
  .single-group-box .img-box {
    display: block;
    flex-basis: 35%;
    height: 156px;
    align-self: flex-end;
  }
}
